<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/mockup.css" />
    <link rel="navbarstylesheet" href="../static/styles/headerNav.css" />
    <title>Catchy</title>
    <script src="../static/scripts/buttonToSearch.js"></script>
    <script
      src="https://kit.fontawesome.com/59a6cdd8fd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="announcement">
      Catchy Software Beta Version - Full Rights Reserved
    </div>
    <header>
      <img class="logo" src="../static/images/Catchy_Logo.png" alt="logo" />
      <nav>
        <ul class="nav_links">
          <li><a href="home.html">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Catchy</a></li>
          <li><a href="contact_us.html">Contact us</a></li>
        </ul>
      </nav>
    </header>

    <div class="logo-banner">
      <div class="banner-title">
        <h1>Your Ultimate E-Commerce</h1>
        <h1>Product Comparison Tool</h1>
        <form
          id="searchForm"
          action="http://localhost:5000/search"
          method="post"
        >
        
          <div class="buttons">
            <button id="backButton" class="back-button" title="Go Back">
              <i class="fas fa-arrow-left"></i>
            </button>
            <label for="searchBar" class="visually-hidden"
              >Enter your product name</label
            >
            <input
              type="text"
              id="searchBar"
              name="productName"
              class="animate"
              placeholder="Enter your product name...."
            />
            <button
              type="button"
              id="searchButton"
              class="search-button"
              onclick="performSearch()"
            >
              Start Searching
            </button>
            <button
              type="submit"
              id="searchButtonSubmit"
              class="search-button-submit"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="searchFilters">
      <div class="sort-dropdown">
        Sort By:
        <select id="sortOptions" name="sortOption" class="sort-options">
          <option value="lowToHigh">Low to High</option>
          <option value="highToLow">High to Low</option>
          <option value="relevance">Relevance</option>
        </select>
      </div>
    </div>

    <div id="productSection" class="product-section">
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <img src="../static/images/Catchy_Logo_B&W.png" width="100px" />
          </div>
          <div class="footer-links">
            <ul class="footer-menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/scripts/getProducts.js"></script>
    </script>
  </body>
</html>
