<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYS32 - Scrapper</title>
    <link rel="stylesheet" href="mockup.css">
</head>
<body>
    <div class="container">
        <form id="searchForm" action = "http://localhost:5000/search" method = "post">
            <div class="buttons">
                <label for="searchBar" class="visually-hidden">Enter in your product name</label>
                <input type="text" id="searchBar" name="productName" class="animate" placeholder="Enter in your product name....">
                <button type="button" id="searchButton" class="search-button" onclick="performSearch()">Click here to begin searching</button>
                <button type="submit" id="searchButtonSubmit" class="search-button-submit">Search</button>
            </div>
        </form>
    </div>
</body>
</html>